<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="/css/project/dashboard.css">
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="project-dashboard  mt-3 ">

        <div class="tab-content ">
            <div class=" tab-button-div">
                <div class="btn-group">
                    <button class="tab-button">Project Dashboard</button>
                    <button class="tab-button">Wiki</button>
                    <button class="tab-button">Developer</button>
                    <button class="tab-button">Settings</button>
                </div>
                <div class=" project-name">Impoort api</div>
            </div>
            <div class="mt-2 text-center">
                <input type="text" class="sing-input" placeholder="Search by task number">
                <button class="">Sorted task by status</button>
                <button>Sorted task by opened date</button>
                <button>Create New Task</button>
            </div>
            <div class="task-grid text-center">
                <div class="task" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">impoort register unit testmpoort register unit test </h5>
                        <h6 class="card-subtitle mb-2 text-muted">#33</h6>
                        <p class="card-text">Opened by : canadmin</p>
                        <p class="card-text">Signed by : yusufalicezik</p>
                        <p class="card-text">due date : 01/01/2020</p>
                        <a href="#" class="card-link">Show task</a>
                    </div>
                </div>
                <div class="task" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">impoort register unit testmpoort register unit test </h5>
                        <h6 class="card-subtitle mb-2 text-muted">#33</h6>
                        <p class="card-text">Opened by : canadmin</p>
                        <p class="card-text">Signed by : yusufalicezik</p>
                        <p class="card-text">due date : 01/01/2020</p>
                        <a href="#" class="card-link">Show task</a>
                    </div>
                </div>
                <div class="task" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">impoort register unit testmpoort register unit test </h5>
                        <h6 class="card-subtitle mb-2 text-muted">#33</h6>
                        <p class="card-text">Opened by : canadmin</p>
                        <p class="card-text">Signed by : yusufalicezik</p>
                        <p class="card-text">due date : 01/01/2020</p>
                        <a href="#" class="card-link">Show task</a>
                    </div>
                </div>
                <div class="task" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">impoort register unit testmpoort register unit test </h5>
                        <h6 class="card-subtitle mb-2 text-muted">#33</h6>
                        <p class="card-text">Opened by : canadmin</p>
                        <p class="card-text">Signed by : yusufalicezik</p>
                        <p class="card-text">due date : 01/01/2020</p>
                        <a href="#" class="card-link">Show task</a>
                    </div>
                </div>
                <div class="task" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">impoort register unit testmpoort register unit test </h5>
                        <h6 class="card-subtitle mb-2 text-muted">#33</h6>
                        <p class="card-text">Opened by : canadmin</p>
                        <p class="card-text">Signed by : yusufalicezik</p>
                        <p class="card-text">due date : 01/01/2020</p>
                        <a href="#" class="card-link">Show task</a>
                    </div>
                </div>

            </div>


            </div>

        </div>
    </div>

</div>
</body>
</html>