.main{
    height: 100vh;
    background-color: #ededed;
}

.left-side{
    background-color: #ededed;
    height: 100vh;
}
.sing-input{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    border: 0;
    padding: 10px;
    width: 350px;
    color: #1f1f1f;
    border-radius: 5px;
}
h1{
    color: #6d6aab;
}
.sing-button{
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    width: 100px;
    height: 30px;
    color: #6d6aab;
}
.sing-button:hover{
    background-color: #6d6aab;
    color: #ffffff;
}
.login-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    height: 150px;
    color: white;
    text-align: center;
}
.account{
    cursor: pointer;
}
.account:hover{
    color: #fccc46;
}
.login-box{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
}
a:hover {
    color: #fccc46;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
/*#1f1f1f -> koyu ton*/
/*fccc46 -> sarı ton */
/*6d6aab -> morumsu*/
/*ededed -> acık beyaz*/
/* modal */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}
.modal-body {
    margin: 20px 0;
}
.modal-default-button {
    float: right;
}
.modal-enter {
    opacity: 0;
}
.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.close-modal{
    display: none;
}