<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="developerList">

        <th:block th:each="developer : ${developers}">
        <div class="dsr-single">
            <div class="username">
                <span th:text="${developer.username}">canadmin</span>
            </div>
            <div class="user-image">
            </div>
            <div class="button-div">
                <form th:action="@{/inviteDeveloper}" method="post">
                    <input type="hidden" th:name="userId" th:value="${developer.id}">
<!--                    <a class="btn btn-primary" th:href="@{/inviteDeveloper/{username}(username=${developer.username})}">Invite</a>-->
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
        </th:block>
</th:block>

</body>
</html>