<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="content">
    <div id="modal-div-task" class="">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <p><b>Create New Task in <span th:text="${projectInfo.projectName}"></span></b>
                            <button class="ml-5 close-button" id="close-dashboard-modal">Close</button>
                        </p>
                        <hr>
                        <div class="form-group">
                            <div class="">
                                Username
                                <input type="text" id="search-dev-input" class="modal-input pl-1"
                                       placeholder="type username">
                            </div>
                            <div class="developer-search-result">

                                <div th:replace="~{project/developer/fragments/developerlist :: developerList}">
                                </div>
                            </div>
                        </div>
                    </div>
        </transition>
    </div>
</th:block>

</body>
</html>