<div th:fragment="header">
<nav class="navbar navbar-expand-lg   navbar-custom">
   <h1 class="text-white">PMS</h1>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a th:href="@{/dashboard}" class="btn btn-info ml-4" >Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="btn btn-info ml-4" href="#" id="create-new-project">Create New Project<span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <div class="notifications-field mr-5">
        <span class="text-white">Notifications!</span>
    </div>
    <div class="profil-header d-inline-flex">
        <div class="align-content-center">
        </div>
        <input type="hidden" th:value="${user.firstName}" id="firstname">
        <input type="hidden" th:value="${user.lastName}" id="lastname">
        <div id="profileImage"></div>
    </div>

    <div class="profile-options text-center close-options">
        <p class="mt-2">Profile</p>
        <hr>
        <p>Settings</p>
        <hr>
        <p class="mb-2"> <a th:href="@{/logout}">Logout</a></p>
    </div>

    <div class="notificaions text-center close-options">
        <div class="test">
        </div>
    </div>
</nav>
<div id="notification-alert" class="notificaion-alert alert-info close-modal">
    <div class="mt-3" id="notification-add">
    </div>
</div>
</div>