<div th:fragment="header">
<nav class="navbar navbar-expand-lg   navbar-custom">
   <h2>PMS</h2>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <button class="btn btn-info ml-4" href="#">Dashboard <span class="sr-only">(current)</span></button>
        </li>
        <li class="nav-item active">
            <a class="btn btn-info ml-4" href="#" id="create-new-project">Create New Project<span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <div class="profil-header d-inline-flex">
        <div class="align-content-center">
        </div>
        <input type="hidden" th:value="${user.firstName}" id="firstname">
        <input type="hidden" th:value="${user.lastName}" id="lastname">
        <div id="profileImage"></div>
    </div>

    <div class="profile-options text-center close-options">
        <p class="mt-2">Profile</p>
        <hr>
        <p>Settings</p>
        <hr>
        <p class="mb-2"> <a th:href="@{/logout}">Logout</a></p>
    </div>
</nav>
</div>