<th:block th:fragment="content">
    <div th:each="project: ${user.projects}">
            <div class="project-card">
                <div class="text-center">
                    Project name :<span class="task-text" th:text="${project.projectName}">Project Name</span></div>
                <div class="text-center">
                    <span th:text="'Open task count : '+${#lists.size(project.tasks)}">: 12</span></div>
                <div class="text-center project-card-description">
                   Project Description :<span th:text="${project.projectDescription}">Description</span>
                </div>
                <div class="text-center">
                    <span th:text="${project.createdDate}">Create date</span>
                </div>
                <div class="text-center">
                    <form th:action="@{/showProject/{path}(path=${project.id})}" method="get">
                        <input type="submit" class="show-project-button" value="Show Project">
                    </form>
                </div>
            </div>
    </div>
</th:block>
