.main-dashboard{
    height: 750px;
    background-color: #f5f5f5f5;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    grid-gap: 100px;

}
.project-card{
    width: 250px;
    height: 400px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: chocolate;
    position: relative;

}
.show-button{
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    margin-top: 250px;
    color: #6d6aab;
}
.show-button:hover{
    background-color: #6d6aab;
    color: #ffffff;
}
.task-text{
    font-size: 26px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.modal-container {
    width: 700px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}
.modal-body {
    margin: 20px 0;
}
.modal-default-button {
    float: right;
}
.modal-enter {
    opacity: 0;
}
.modal-leave-active {
    opacity: 0;
}

#description{
    resize:none ;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    border: 0;
}

.close-button{
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    width: 100px;
    height: 30px;
    float: right;
    color: #ab3a45;
}
.close-button:hover{
    background-color: #ab3a45;
    color: #ffffff;
}
.project-card-description{
    height: 150px;
}

.show-project-button{
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    color: #6d6aab;
    position: absolute;
    bottom: 0;
    transform: translate(-50%,-50%);/*move it halfway back(x,y)*/
}