.navbar-custom{
    background-color: #283E4A;
}


#profileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #00a8a7;
    font-size: 35px;
    color: #fff;
    margin-right: 100px;
    text-align: center;
    cursor: pointer;
}
.profile-options{
    position: fixed;
    top: 0;
    right: 20px;
    width: 250px;
    height: 160px;
    z-index: 100;
    background-color: #ffffff;
    margin-top: 70px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);

}
.close-options{
    display: none;
}

.notifications-field{
    cursor:pointer;
}
.notificaions{
    position: fixed;
    top: 0;
    right: 180px;
    width: 250px;
    height: 160px;
    z-index: 100;
    background-color: #ffffff;
    margin-top: 70px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    overflow-y: auto;
}

.notificaion-alert{
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    width: 350px;
    color: #1f1f1f;
    height: 50px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
}